/* Global Styles */
/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* Header Style */
header {
  background-color: #007bff;
  color: white;
  padding: 15px;
  text-align: center;
}

/* Main Content Styles */
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  flex: 1;
}

/* Task Container Styles */
.tasksContainer {
  display: flex;
  justify-content: space-between;
}

#tasksDisplay,
#taskAddition {
  background-color: #e9ecef;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

#tasksDisplay {
  width: 65%;
}

#taskAddition {
  width: 30%;
}

/* Task Display Styles */
.tasksDisplay {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tasksDisplay h3 {
  margin-top: 0;
  color: #333;
}

.tasksDisplay p {
  color: #666;
}

#taskDisplay ul {
  list-style-type: none;
}

#taskDisplay ul li {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Task Addition Styles */
#taskAddition {
  background-color: #e9ecef;
  padding: 15px;
  border-radius: 5px;
  width: 30%;
}

#addTaskForm input,
#addTaskForm textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#addTaskForm button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#addTaskForm button:hover {
  background-color: #0056b3;
}

/* Task Item Styles */
.task {
  border: 1px solid #ddd;
  padding: 10px;
  padding-bottom: 40px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #f9f9f9;
  position: relative;
  display: flex;
  flex-direction: column;
}

.task-check {
  align-self: flex-start;
  margin-bottom: 10px;
}

.task-title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  overflow-wrap: break-word;
}

.task-description {
  margin-top: 5px;
  overflow-wrap: break-word;
}

.task-delete {
  position: absolute;
  right: 10px;
  bottom: 10px;
  border: none;
  background-color: #ff6347;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.task-delete:hover {
  background-color: #ff2e1c;
}

.task:after {
  content: "";
  display: table;
  clear: both;
}

.task-title, .task-description {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
  width: 100%;
}

.task-description {
  height: auto;
  resize: vertical;
}

.task-label {
  font-weight: bold;
  margin-top: 10px;
}

.task-completed {
  text-decoration: line-through;
  color: #666;
}

/* Footer Style */
footer {
  padding: 20px;
  text-align: center;
  width: 100%;
  background-color: #f8f8f8;
}

/* Search Section Style */
#searchSection {
  background-color: #e9ecef;
  padding: 15px;
  border-radius: 5px;
  margin: 20px auto;
  width: calc(100% - 40px);
}

#searchBar {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Animations */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.notification-box {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: green;
  color: white;
  border-radius: 5px;
  z-index: 1000;
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
}


/* Help/FAQ Page Specific Styles */
article {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}

/* Styles for FAQ question headings */
article h3 {
  color: #007bff;
  margin-bottom: 5px;
}

/* General text style for FAQ answers */
article p {
  line-height: 1.6;
}